*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;

}
.image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: rgb(62, 62, 176);
    margin-bottom: 10px;
    padding: 3px;
}
.image .profile-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}

.profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 24px;
    box-shadow: 0 5px 10px rgba(0, 0,0, 0.1);
}

.profile-card .text-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}

.text-data .name{
font-size: 22px;
font-weight: 500;
}

.text-data .job{
    font-size: 15px;
    font-weight: 400;
}