* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  height: 100%;
  width: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(53, 63, 117);
}

.header .name {
  font-weight: 500;
}

.links {
  display: flex;
  align-items: center;
  gap: 50px;
}
.links a {
  text-decoration: none;
  color: black;
  padding: 1px;
  width: 75px;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
}

.links a:hover {
  border-radius: 1px solid white;
  border-radius: 5px;

  background: linear-gradient(25deg, #edd1ec, #b4d8e9f4);
  color:gray;
  
  cursor: pointer;
}

.content_container{
height: 50%;
width: 100%;
background-color: lightblue;
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;
}

.leftbox{
border: 1px solid black;
width: 65%;
height: 40%;
border-radius: 30px;


}

.rightbox{
background-color: white;

width: 30%;
height: 40%;
}